/*
=============== 
Variables
===============
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

#LandingPage {
  background-image: url("C:\Users\Rakshit\React Revision\react-projects\01-birthday-reminder\final\public\assets\background_image.jpg");
}

body{
  background-color: black;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }


    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
} 