/*
=============== 
Variables
===============
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(75 85 99);;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
